body, html, .full-size, #app {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.editor {
  display: flex;
  flex-direction: column;
}

.toolbar {
  height: 50px;
  width: 100%;
}

.main-panel {
  display: flex;
  flex: 1;
  width: 100%;
}

.main-panel .side-panel {
  width: 300px;
}

.main-panel .editor-panel {
  flex: 1;
}
