.message-board {
  position: fixed;
  width: 300px;
  right: 20px;
  top: 20px;
}

.message-board ul {
  list-style: none;
}

.message-board ul li {
  padding: 10px;
  text-align: center;
}

.message-board ul li.error {
  background-color: #992e03;
}

.message-board ul li.info {
  background-color: #5f95ed;
}
